[bot]
token =
owner_id =

[autoban]
; server id = mute role id

[modlogs]
; server id = join/part/ban logs channel id

[deletelogs]
; server id = deleted messages logs channel id

[cleantemp]
; channel id = true

[savepics]
; channel id = path to folder
