[bot]
token =
owner_id =
;Owner:     Bolt,              Kody,              The Loli Writer,   Katiebug586,       Regi Zteel,        88TF               Ali
whitelist = 217111753614426112,274151655795064832,310033792406388746,240207527780941824,299982693783961601,240766772028899328,319197369168297986

[automute]
; server id = mute role id

[birthday]
; server id = birthday role id

[joinlogs]
; server id = join/part/ban logs channel id

[msglogs]
; server id = deleted/edit messages logs channel id

[cleantemp]
; channel id = true

[savepics]
; channel id = path to folder
